{{ google_js|safe }}
{{ rotafacil_js|safe }}
<div class="container" style="padding-top: 15px">
<div class="col-xs-6">
    <div class="well" style="background-color:#f9f9f9; color: #000000; padding:5px">
        <form role="form" action="?submit=True" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="from" name="from" placeholder="Origem" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control  input-lg" id="to" name="to" placeholder="Destino">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">PESQUISAR ROTA</button>
        </form>
    </div>
    {% if submit %}

        {{ rf_text | safe}}

    {% endif %}
</div>
<div class="col-xs-6">
    {{ draw_map|safe }}
    <br />
    {% if submit %}
    <ul class="list-group" style="color: #000000;">
        <li class="list-group-item active"><strong>PONTOS DE REFERÊNCIAS</strong></li>

        <li class="list-group-item"><strong>{{ total_places }}</strong></li>

    </ul>
    {% endif %}
</div>
    </div>