{% load staticfiles %}
<div class="container" style="padding-top: 15px">
<div class="col-xs-8">
<div class="well" style="background-color:#FFFFFF; color: #000000; padding:5px">
    
    
    
</div>

    </div>
<div class="col-xs-4">
    <div><strong>Downloads</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000"></div>
    </div>
   </div>