{% load staticfiles %}
<div class="container" style="padding-top: 15px">
<div class="col-xs-8"> 
	<div><strong>Descrição</strong></div>
	<div class="well" style="background-color:#FFFFFF; color: #000000">
		<p align="justify">
        O <strong>RotaFacil</strong> é um projeto desenvolvido junto com o Departamento de Ciência da Computação da Universidade
            Federal de Sergipe. O projeto foi iniciado em 2009 e em 2013 foi registrado junto ao INPI (Instituto Nacional de
            Propriedade Intelectual). O principal objetivo do RotaFacil é prover descrição de rotas baseadas no sistema do Google
            Maps mas utilizando informações de pontos de referências e conceitos de geração de linguagem natural para fornecer
            rotas mais descritas e próxima da comunicação do dia-a-dia. Em 2014, o projeto foi incorporado a plataforma GO! e
            estendeu suas funções. Atualmente, além da funcionalidade original, o RotaFacil serve como módulo básico para gerenciar
            requisições de rotas, locais e mapas para os demais projetos do GO!.
		</p>
	</div>
	
	
	<div><strong>Como usar</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000">
	<p align="justify">O RotaFacil pode ser usado de duas formas dentro de um projeto: (1) através de requisições HTTP ou (2) através da API Python do RotaFacil. Cada uma das duas formas possuem conjuntos de funcionalidades diferentes. Segue o tutorial de como utilizá-las em seu projeto e quais funcionalidades estão disponíveis em cada um dos casos.</p>
	<h4><strong>Requisição HTTP</strong></h4>
	<p align="justify">Utilizando esse modo, a aplicação tem acesso a rotas, textos e pontos de referências a partir de dois pontos (origem e destino). Para usar basta fazer uma requisição ao endereço: <a href="http://go-goproject.rhcloud.com/go/rota_facil/json/">http://go-goproject.rhcloud.com/go/rota_facil/json/</a> passando os parâmetros de origem e destino na URL como o exemplo a seguir:
	<br /><br />
	<small><strong>http://go-goproject.rhcloud.com/go/rota_facil/json/?from=enderecoorigem&to=enderecodestino&mode=rotafacil</strong></small>
	<br /><br />
	Se deseja retornar as informações para uma rota saindo da <strong>Rua Frei Paulo, Aracaju, Sergipe</strong> e chegando na <strong>Rua Cristóvão de Barros, Aracaju, Sergipe</strong> basta usar a URL:
	<br />
	<small><strong>http://go-goproject.rhcloud.com/go/rota_facil/json/?from=Rua Frei Paulo, Aracaju, Sergipe&to=Rua Cristovao de Barros, Aracaju, Sergipe&mode=rotafacil</strong></small>
	<br />
	O parâmetro <strong>mode</strong> determina que tipo de informação o RotaFacil irá retornar. Ele pode assumir dois valores: (1) rotafacil ou (2) google. 
	<ul align="justify">
		<li><strong>rotafacil: </strong> neste modo, o RotaFacil retorna a descrição da rota levando em consideração os pontos de referências ao longo do caminho. Neste modo é possível acessar de forma independente a lista de todos os pontos de referências considerado.</li>
		<li><strong>google: </strong> neste modo, o RotaFacil retorna apenas a descrição padrão do google sem levar em consideração os pontos de referência ao longo do caminho. O tempo de processamento para essa solicitação é menor do que o modo anterior.</li>
	</ul>
	O sistema retorna os dados em formato JSON com as seguintes informações: 
	<ul align="justify">
		<li><strong>id:</strong> id único para a rota solicitada.</li>
		<li><strong>status:</strong> status da solicitação. Se não tiver nenhum erro na solicitação retorna o valor "OK", caso contrário, retorna "ERROR".</li>
		<li><strong>msg_error:</strong> se o status da solicitação for igual a "ERROR" irá retornar a descrição do erro, caso contrário, retorna "" (vazio)</li>
		<li><strong>rf_text:</strong> descrição da rota com os pontos de referências (somente no modo rotafacil)</li>
		<li><strong>places_list:</strong> lista de pontos de referências utilizados na descrição da rota (somente no modo rotafacil)</li>
		<li><strong>start_address:</strong> endereço inicial (origem) da rota.</li>
		<li><strong>end_address:</strong> endereço final (destino) da rota.</li>
		<li><strong>bounds:</strong> limites do map. Essa informação é utilizada pelo GoogleMaps para centralizar o mapa na rota solicitada.</li>
		<li><strong>google_route:</strong> descrição ponto a ponto da rota do google.</li>
		<li><strong>polyline:</strong> pontos (longitude e latitude) de todo o caminho da rota solicitada. É utilizada para desenhar a rota no mapa.</li>
		<li><strong>google_text:</strong> descrição padrão do google para a rota solicitada.</li>
	</ul>
	Clique <a href="{% static "examples/rota_facil/example_json.txt" %}" target="_blank">aqui</a> para acessar o json para a solicitação descrita no exemplo anterior.
	</p>

	<h4><strong>RotaFacil Python API</strong></h4>
	<p align="justify">
	A API do RotaFacil pode ser baixada no 

	</p>
	</div>
</div>
<div class="col-xs-4"> 

	<div><strong>Downloads</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000">
	<strong>RotaFacil Python API</strong><br />
	<small>
	<strong>Última versão:</strong> 1.0 <br />
	<strong>Download:</strong> <a href="{% static "packages/rota_facil/dist/RotaFacil-1.0.tar.gz" %}"><strong>RotaFacil-1.0.tar.gz</strong></a>
	</small>
	</div>

	<div><strong>Membros</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000">

	{% for user in list_user_projects %}
    <p><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a></p>
    {% endfor %}

    </div>
	<div><strong>Projetos que utilizam o RotaFacil</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000"></div>
</div>
	</div>