<div id="c">
		<div class="container">
			<div class="pull-left"><a href="/admin/"><span class="glyphicon glyphicon-cog"></span></a></div>
			<p>&copy; <a href="/">GO!</a> 2013-2016</p>
		</div>
	</div>