<!-- Bootstrap core JavaScript
    ================================================== -->
    {% load staticfiles %}
<!--
    <script src="{% static 'theme/script/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'theme/script/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'theme/script/jquery-ui.js' %}"></script>
    <script src="{% static 'theme/script/bootstrap.min.js' %}"></script>
    <script src="{% static 'theme/script/bootstrap-hover-dropdown.js' %}"></script>
    <script src="{% static 'theme/script/html5shiv.js' %}"></script>
    <script src="{% static 'theme/script/respond.min.js' %}"></script>
    <script src="{% static 'theme/script/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'theme/script/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'theme/script/jquery.cookie.js' %}"></script>
    <script src="{% static 'theme/script/icheck.min.js' %}"></script>
    <script src="{% static 'theme/script/custom.min.js' %}"></script>
    <script src="{% static 'theme/script/jquery.news-ticker.js' %}"></script>
    <script src="{% static 'theme/script/jquery.menu.js' %}"></script>
    <script src="{% static 'theme/script/pace.min.js' %}"></script>
    <script src="{% static 'theme/script/holder.js' %}"></script>
    <script src="{% static 'theme/script/responsive-tabs.js' %}"></script>
    <script src="{% static 'theme/script/jquery.flot.js' %}"></script>
    <script src="{% static 'theme/script/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'theme/script/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'theme/script/jquery.flot.tooltip.js' %}"></script>
    <script src="{% static 'theme/script/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'theme/script/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'theme/script/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'theme/script/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'theme/script/zabuto_calendar.min.js' %}"></script>
    <script src="{% static 'theme/script/index.js"></script>

    <script src="{% static 'theme/script/highcharts.js' %}"></script>
    <script src="{% static 'theme/script/data.js' %}"></script>
    <script src="{% static 'theme/script/drilldown.js' %}"></script>
    <script src="{% static 'theme/script/exporting.js' %}"></script>
    <script src="{% static 'theme/script/highcharts-more.js' %}"></script>
    <script src="{% static 'theme/script/charts-highchart-pie.js' %}"></script>
    <script src="{% static 'theme/script/charts-highchart-more.js' %}"></script>

    <script src="{% static 'theme/script/main.js' %}"></script>

    -->
    
    
    
    <!-- Placed at the end of the document so the pages load faster -->