 	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">

    <title>GO!</title>

    <!-- First Template -->

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/tinymce.min.js' %}"></script>
    <script src="{% static 'js/jquery.tinymce.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/devoops.js' %}"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>

    <!-- End First Template -->

    <!--- Second Template -->
    <!--
    <link rel="shortcut icon" href="{% static 'theme/images/icons/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'theme/images/icons/favicon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'theme/images/icons/favicon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'theme/images/icons/favicon-114x114.png' %}">

    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/jquery-ui-1.10.4.custom.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/animate.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/all.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/style-responsive.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/zabuto_calendar.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/pace.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'theme/styles/jquery.news-ticker.css' %}">
    -->
    <!-- End Second Template -->



    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->