 <!-- Fixed navbar -->
{% load staticfiles %}
 <div id="navigation" class="navbar navbar-default navbar-fixed-top">
 <nav class="navbar-collapse collapse" role="navigation">
  	<div class="navbar-header pull-right">
	      		{% if user.is_authenticated %}
	      			
	      			<ul class="nav navbar-nav pull-right panel-menu">
	      				<li></li>
	      				<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="{% static 'img/avatar-blank.jpg' %}" class="img-rounded" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Welcome,</span>
										<span>{{ user.first_name }} {{ user.last_name }}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">
											<span class="glyphicon glyphicon-user"></span> <span class="text">Profile</span>
										</a>
									</li>
									<li>
										<a href="#" class="ajax-link">
											<span class="glyphicon glyphicon-tasks"></span> <span class="text">Projects</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="glyphicon glyphicon-wrench"></span> <span class="text">Settings</span>
										</a>
									</li>
									<li>
										<a href="/logout/">
											<span class="glyphicon glyphicon-off"></span> <span class="text">Logout</span>
										</a>
									</li>
								</ul>
							</li>
	      			</ul>
	      		
	      		{% else %}
	        	<form class="navbar-form" role="form" action="/authuser/" method="post">
          			{% csrf_token %}
          				<div class="form-group">
          				{% if status == "error" %}
							<div class="label label-danger">
							<strong>Login failured</strong>. Please verified your <strong>username</strong> or <strong>password</strong>.
        					</div>
        				{% endif%}
        				{% if status == "noactive" %}
							<div class="label label-danger">
							You no longer have permission to access this project.
							</div>
						{% endif%}
          				</div>
          				<div class="form-group">
            				<input type="text" class="form-control col-xs-4" id="username" name="username" placeholder="Username">
          				</div>
          				<div class="form-group">
            				<input type="password" class="form-control" id="userpassword" name="userpassword" placeholder="Password">
          				</div>
          				<button type="submit" class="btn btn-primary">Login</button>
        			</form>
        		{% endif %}
        			 
	        </div>
	        <div class="navbar-header">
	        	
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          {% if user.is_authenticated %}
	          <a class="navbar-brand" href="/main/"><b>GO!</b></a>
	          {% else %}
	          <a class="navbar-brand" href="/"><b>GO! {{ title }}</b></a>
	          {% endif %}
	        </div>
	        
	       
	        

</nav>
 </div>