{% load staticfiles %}
{{ google_js|safe }}
{{ rotafacil_js|safe }}
<div class="container" style="padding-top: 15px">
<div class="col-xs-8">

	<div><strong>Descrição</strong></div>
	<div class="well" style="background-color:#FFFFFF; color: #000000">
		<p align="justify">
         Projeto criado para a coleta de rotas através do GPS.
		</p>
	</div>

    <div><strong>Dataset</strong></div>
    <div class="well" style="background-color:#FFFFFF; color: #000000">
        <div><strong>Número de Dispositivos:</strong> {{ devices_total }}</div>
        <div><strong>Número de Rotas:</strong> {{ routes_total }}</div>
        <div><strong>Média de Pontos coletados por rota:</strong> {{ points_average }} </div>
        <br />
        <div align="center">
            {{ draw_map|safe }}
        </div>
        <div>
            {% if sorted_address %}
            {% for s in sorted_address %}
                <div><strong>Endereço:</strong> {{s.0}} - <strong>{{ s.2 }}</strong> rotas ({{ s.1 }} pontos)</div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
<div class="col-xs-4">
	<div><strong>Membros</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000">
        {% for user in list_user_projects %}
    <p><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a></p>
    {% endfor %}
	</div>
	
	<div><strong>Selecione a informação desejada</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000">
        <div>
            <form role="form" action="?submit=track" method="post">
                {% csrf_token %}
                <select onchange="this.form.submit()" name="select_tracks">
                    <option value="-1">Selecione uma rota ... </option>
                    {% for t in tracks %}
                    <option value="{{ t.id }}">{{ t.id }} - {{ t.tipo }}</option>
                    {% endfor %}
                </select>
            </form>
            <br />
            ou ver todos os pontos de:
            <form role="form" action="?submit=all_points" method="post">
                {% csrf_token %}
                <select name="filter" onchange="this.form.submit()">
                    <option value="-1">Escolha um filtro</option>
                    <option value="car">Carro</option>
                    <option value="bus">Ônibus</option>
                    <option value="both">Ambos</option>
                </select>
                <br />
                <!-- <input type="checkbox" name="addressreport" value="address">Mostrar relatório dos endereços<br /> -->
            </form>
        </div>
        <br />
        {% if track %}
        <div>
            <div><strong>Id da rota: </strong>{{ track.id }}</div>
            {% if track.car_or_bus == 1%}
            <div><strong>Tipo: </strong>carro</div>
            {% else %}
            <div><strong>Tipo: </strong>ônibus</div>
            <div><strong>Linha: </strong>{{ track.linha }}</div>
            {% endif %}
            <br />
            <div><strong>Tempo de viagem: </strong>{{ track_time  }} minutos</div>
            <div><strong>Distância: </strong>{{ track_distance }} km</div>
            <div><strong>Velocidade Média: </strong>{{ track_speed }} km/h</div>
            <br />
            <div><strong>Início: </strong>{{date_start}}</div>
            <div><strong>Final: </strong>{{date_finished}}</div>
        </div>
        {% endif %}
        {% if all_points %}
        {% if total_cars %}
        <div><b>Total de pontos de carros: </b>{{ total_cars }}</div>
        {% endif %}
        {% if total_bus %}
        <div><b>Total de pontos de ônibus: </b>{{ total_bus }}</div>
        {% endif %}
        {% endif %}
    </div>
</div>
    </div>