<div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if menu == "home" %}class="active" {% endif %}><a href="/">Home</a></li>
          <li {% if menu == "about" %}class="active" {% endif %}><a href="/about/">About</a></li>
          {% if user.is_authenticated %}
          <li {% if menu == "main" %}class="active" {% endif %}>
          	<a href="/main/">
          		<span class="glyphicon glyphicon-user"></span>
          		{{ user.first_name }}'s Projects
          	</a>
          </li>
          <li>
          	<a href="/logout/">
          		<span class="glyphicon glyphicon-log-out"></span>
          	</a>
          </li>
          {% else %}
          <li {% if menu == "login" %}class="active" {% endif %}><a href="/login/">Login</a></li>
          {% endif %}
        </ul>
        <h3 class="text-muted">GO!</h3>
      </div>
      
      
