<!DOCTYPE html>
<html lang="en">
  <head>
    
  	{% include "includes/head.html" %}

  </head>

  <body>

    <div class="container">
      
      {% include "includes/header.html" with menu="home" %}

      <div class="jumbotron">
        <h1>GO!</h1>
        <p class="lead"><strong>GO!</strong> is a ITS (Inteligent Transportation System) project developed by <strong>Computer Science Departament</strong> of <strong>Federal University of Sergipe</strong> (Brazil). More details click on <strong>About</strong> page.</p>

        <p>
        	<a class="btn btn-lg btn-primary" href="about/" role="button">About GO!</a>
          {% if user.is_authenticated %}
        	<a class="btn btn-lg btn-success" href="/main/" role="button">
              <span class="glyphicon glyphicon-user"></span>
              {{ user.first_name }}'s Projects
          </a>
          {% else %}
          <a class="btn btn-lg btn-warning" href="login/" role="button">Login</a>
          {% endif %}
        </p>
      </div>

      {% include "includes/footer.html" %}

    </div> <!-- /container -->

    {% include "includes/foot.html" %}
    
  </body>
</html>
