<!DOCTYPE html>
<html lang="en">
  <head>
    
  	{% include "includes/head.html" %}

  </head>

  <body>

    <div class="container">
      
      {% include "includes/header.html" with menu="main" %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-7">Welcome <strong>{{ user.first_name }} {{ user.last_name }}</strong></div>
            <div class="col-md-5"><strong>Last login:</strong> {{ user.last_login }}</div>
          </div>
        </div>
        <div class="panel-body">
          <p>
          <div class="container">
            <div class="col-md-3">
              <div class="btn-group-vertical">
                <div href="teste" class="btn btn-primary btn-sm"><strong>Select a project</strong></div>
                {% for p in projects %}
                <a href="/project/{{ p.identifier }}/" class="btn btn-default btn-sm">{{ p.title }}</a>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-8">
              <p class="text-justify">This is your project area. The sidebar shows all projects that you are envolved. If your project are not listed, please contact the administrator. </p>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <strong>Updates</strong>
                </div>
                <div class="panel-body">
                </div> 
              </div>

            </div>
            
          </div>
        </p>
        </div>
      </div>
      


      

      {% include "includes/footer.html" %}

    </div> <!-- /container -->

    {% include "includes/foot.html" %}
    
  </body>
</html>
