{% load staticfiles %}
{{ google_js|safe }}
{{ rotafacil_js|safe }}
<script>
  $(function() {
    $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: 1439,
        step: 30,
        values: [0, 1439],
        slide: function( event, ui ) {
            var hours = Math.floor(ui.values[ 0 ] / 60);
            var minutes = ui.values[ 0 ] - (hours * 60);

            var hours_ = Math.floor(ui.values[ 1 ] / 60);
            var minutes_ = ui.values[ 1 ] - (hours_ * 60);


            if(hours.toString().length == 1) hours = '0' + hours;
            if(minutes.toString().length == 1) minutes = '0' + minutes;

            if(hours_.toString().length == 1) hours_ = '0' + hours_;
            if(minutes_.toString().length == 1) minutes_ = '0' + minutes_;


            $( "#amount" ).val( hours + ":"+ minutes + " - " + hours_ + ":"+ minutes_ );
        }
    });
    $( "#amount" ).val( "00:00 - 23:59" );
  });
</script>
<div class="container" style="padding-top: 15px">

    {% if city == "public" %}
        <div><strong>Escolha a cidade para visualizar o observatório:</strong></div>
        <br />
        <a href="../aracaju/"><img src="{% static 'img/map_aracaju.png' %}" width="400" /><br /></a>
        <a href="../aracaju/">Aracaju</a>
    {% else %}

    <div><strong>Observatório de {{ city }}</strong></div>
    <br />

    <div class="col-xs-9">

        <div id="slider-range"></div>
        <br />
        {{ draw_map|safe }}
    </div>
    <div class="col-xs-3">
        Ajude a melhorar o mapeamento de nossa cidade baixando o app GO! Track.
        <a href="https://play.google.com/store/apps/details?id=com.go.router" target="_blank"><img src="{% static 'img/googleplay.png' %}" width="250" /></a>
        <div>
            <strong>Filtros:</strong>
            <br /><br />
            <div>
                <label class="small" for="amount">Horário:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold; text-align:left;">
                <small>Mude o slider sobre o mapa para alterar a faixa de horários</small>
            </div>
            <br />
            <div>
                <label class="small" for="amount">Dia:</label>
                <input type="text" readonly style="border:0; color:#f6931f; font-weight:bold; text-align:left;" value="Todos">
                <small>
                    <br />Mudar para:
                    <select id="week_day" name="week_day" disabled>
                        <option value="all">Todos</option>
                        <option value="dom">Domingo</option>
                        <option value="seg">Segunda</option>
                        <option value="ter">Terça</option>
                        <option value="qua">Quarta</option>
                        <option value="qui">Quinta</option>
                        <option value="sex">Sexta</option>
                        <option value="sab">Sábado</option>
                    </select>
                </small>
            </div>
            <br />
            <div>
                <label class="small" for="amount">Tipo:</label>
                <input type="text" readonly style="border:0; color:#f6931f; font-weight:bold; text-align:left;" value="Todos">
                <small>
                    <br />Mudar para:
                    <select id="type" name="type" disabled>
                        <option value="-1">Todos</option>
                        <option value="0">Carro</option>
                        <option value="1">Ônibus</option>
                    </select>
                </small>
            </div>
            <br />
            <div>
                <label class="small" for="amount">Intensidade Máxima:</label>
                <input type="text" readonly style="border:0; color:#f6931f; font-weight:bold; text-align:left;" value="100">
                <small>
                    <br />Valor da intensidade máxima dos pontos <br />
                </small>
            </div>
            <br />
            <button type="button" class="btn btn-secondary btn-lg" disabled>APLICAR FILTRO</button>
        </div>
    </div>


    <div></div>

    {% endif %}


</div>
<br />
<br />
<div class="container">
    {% if city != 'public' %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" style="color: #ffffff;"><strong>Informações Detalhadas</strong></h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-7">
                <strong>Total de pontos coletados: </strong> {{ total_points }}<br />
                <br /><br />
                <strong>Endereços dos 50 pontos com maior frequência:</strong>
                <ul class="list-group">
                    {% for value in most_visited %}
                    <li class="list-group-item">
                        <span class="badge">{{ value.1.frequency }}</span>
                            <strong>{{ value.0 }}</strong><br />
                        {% for values in value.1.points %}
                        <small>{{ values.0 }}: {{values.1}}</small><br />
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="col-xs-5">
                Mais funcionalidades em breve
            </div>
        </div>
    </div>
    {% endif %}
</div>

