{% load staticfiles %}
<div class="container" style="padding-top: 15px">
<div class="col-xs-12">
<div class="well" style="background-color:#FFFFFF; color: #000000; padding:5px">
    <p>
    O GO! Track é um aplicativo para Android que coleta informações de localização através do GPS. O atual objetivo
    deste aplicativo é coletar o máximo de rotas possíveis para a construção de uma base de dados que será utilizada nos
        demais projetos do GO!. As seguintes informações são coletadas:
    </p>
    <p>
    <ul>
        <li><strong>Android ID: </strong> identificado único do dispositivo (essa informação é coletada com a finalidade
        agrupar rotas de um usuário. Nenhuma informação pessoal do usuário é coletada.</li>
        <li><strong>Velocidade e Distância do percurso</strong></stromg></li></lo>
        <li><strong>Avaliação do percurso (boa, regular, ruim)</strong></li>
        <li><strong>Meio de transporte (ônibus ou carro)</strong></li>
        <li><strong>Pontos ao longo do percurso: </strong> a cada intervalo pré-definido de tempo são coletados os pontos
        de longitude e latitude da posição atual do usuário além de informações de data, hora, minuto e segundo.</li>
    </ul>
    </p>
    <h4><strong>Instalação</strong></h4>
    <p>Baixe o instalador ao lado no seu celular Android e autorize a instalação de aplicativos que não sejam
        Play Store. Após a instalação, abra o programa e escolha o meio de transporte:</p>
    <img src="{% static 'img/go_track/tela1.png' %}" />
    <p>Em seguida, aguarde o sinal de GPS ser ativado e aperte START</p>
    <img src="{% static 'img/go_track/tela2.png' %}" />
    <p>Ao chegar no destino, aperte STOP e avalie a viagem em relação as condições do trânsito ao longo do percurso.</p>
    <img src="{% static 'img/go_track/tela3.png' %}" />
    <p>Ao avaliar,
        os dados serão enviados para o servidor. Se no momento estiver sem conexão com internet,
        será exibida uma mensagem informando que os dados não foram enviados. Uma nova tentativa de envio será feita
        automaticamente quando se conectar.</p>
</div>

    </div>
    </div>