<!DOCTYPE html>
<html lang="en">
  <head>
    
  	{% include "includes/head.html" %}

  </head>

  <body>

    <div class="container">
      
      {% include "includes/header.html" with menu="about" %}

		<p>This information will be available soon.</p>      

      {% include "includes/footer.html" %}

    </div> <!-- /container -->

    {% include "includes/foot.html" %}
    
  </body>
</html>
