
<!DOCTYPE html>
<html lang="en">
  <head>
    
  	{% include "includes/head.html" %}

  </head>

    <body data-spy="scroll" data-offset="0" data-target="#navigation">  
	
	{% include "includes/header.html" with menu="home" %}
	
	{% load staticfiles %}
	  
	<section id="home" name="home"></section>
	
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Bem-vindo ao <b>GO!</b></h1>
	    		</div>
	    	</div>
            <div class="container">
                <div class="row centered">
                    <div class="well col-lg-3" style="background-color: #FFFFFF; color: #000000">
                        <h3><strong><a href="/go/rota_facil/public">GO! RotaFacil</a></strong></h3>
                        <small>Fornece rotas entre dois pontos utilizando informações de pontos de refência na descrição da rota.</small>
                    </div>
                </div>
                <div class="row centered">
                    <div class="well col-lg-3" style="background-color: #FFFFFF; color: #000000">
                        <h3><strong><a href="{% static 'packages/go_track/GOTrackDataset_v1.zip' %}">GO! Track Dataset</a></strong></h3>
                        <small>Clique para download.</small>
                    </div>
                </div>
                <div class="row centered">
                    <div class="well col-lg-3" style="background-color: #FFFFFF; color: #000000">
                        <h3><strong><a href="/go/observatory/public">GO! Observatório</a></strong></h3>
                        <small>Observatório das rotas coletadas através do GO! Track.</small>
                    </div>
                </div>
            </div>
	    	<br />
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->
	
	
	
<!--
      <div class="jumbotron">
        <h1>GO!</h1>
        <p class="lead"><strong>GO!</strong> is a ITS (Inteligent Transportation System) project developed by <strong>Computer Science Departament</strong> of <strong>Federal University of Sergipe</strong> (Brazil). More details click on <strong>About</strong> page.</p>

        <p>
        	<a class="btn btn-lg btn-primary" href="about/" role="button">About GO!</a>
          {% if user.is_authenticated %}
        	<a class="btn btn-lg btn-success" href="/main/" role="button">
              <span class="glyphicon glyphicon-user"></span>
              {{ user.first_name }}'s Projects
          </a>
          {% else %}
          <a class="btn btn-lg btn-warning" href="login/" role="button">Login</a>
          {% endif %}
        </p>
      </div>
-->
      {% include "includes/footer.html" %}

   

    {% include "includes/foot.html" %}
    
  </body>
</html>
