<!DOCTYPE html>
<html lang="en">
  <head>
    
  	{% include "includes/head.html" %}

  </head>

  <body>

    <div class="container">
      
      {% include "includes/header.html" with menu="login" %}

      <div id="login">

        {% if status == "error" %}
        <div class="alert alert-danger alert-dismissable">
          <strong>Login failured</strong>. Please verified your <strong>username</strong> or <strong>password</strong>.
        </div>
        {% endif%}
        {% if status == "noactive" %}
        <div class="alert alert-danger alert-dismissable">
          <strong>Login failured</strong>. You no longer have permission to access this project.
        </div>
        {% endif%}

        <form role="form" action="/authuser/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control col-xs-4" id="username" name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="userpassword" name="userpassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p></p>
      </div>            

      {% include "includes/footer.html" %}

    </div> <!-- /container -->

    {% include "includes/foot.html" %}
    
  </body>
</html>
