<!DOCTYPE html>
<html lang="en">
  <head>
    
  	{% include "includes/head.html" %}

  </head>

    <body data-spy="scroll" data-offset="0" data-target="#navigation">  
	
	{% include "includes/header.html" %}
	
	{% load staticfiles %}

	<div id="main" class="container-fluid">
		
		<div class="row">
			<div id="sidebar-left" class="col-xs-2 col-sm-2">
				<ul class="nav main-menu">
					<li>
					<a href="/main/" class="active">
						<span class="hidden-xs" style="text-indent: 0.5em"><span class="glyphicon glyphicon-home"></span> <strong> Principal</strong></span>
					</a>
				    </li>
                    {% if is_developer %}
					<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<span class="hidden-xs" style="text-indent: 0.5em"><span class="glyphicon glyphicon-tasks"></span> <strong>Desenvolvedor</strong></span>
					</a>
					<ul class="dropdown-menu">
						{% for p in projects %}
						<li><a href="/project/{{ p.identifier }}/">{{ p.title }}</a></li>
						{% endfor %}
					</ul>
				    </li>
                     {% endif %}
					{% for p in public_projects %}
                    <li>
                        <a href="/project/{{ p.identifier }}/public/">
                            <span class="hidden-sm" style="text-indent: 0.5em"><span class="glyphicon glyphicon-map-marker"><strong> {{ p.title }}</strong></span></span>
                        </a></li>
                    {% endfor %}
				</ul>
			</div>
			<div id="content" class="col-xs-12 col-sm-10">
                <div class="container" style="padding-top: 15px">
                <div><strong>Selecione o projeto que deseja visualizar</strong></div>
                </div>
			</div>
		</div>
	</div>
	

      {% include "includes/footer.html" %}

   

    {% include "includes/foot.html" %}
    
  </body>
</html>
