<!DOCTYPE html>
<html lang="en">
  <head>
    
  	{% include "includes/head.html" %}


  </head>

    <body data-spy="scroll" data-offset="0" data-target="#navigation">  
	
	{% include "includes/header.html" %}
	
	{% load staticfiles %}
	 
	<div id="main" class="container-fluid">
		
		<div class="row">
			<div id="sidebar-left" class="col-xs-2 col-sm-2">
				<ul class="nav main-menu">
					<li>
					<a href="/go/{{ projectid }}/" class="active">
						<span class="hidden-xs" style="text-indent: 0.5em"><span class="glyphicon glyphicon-home"></span> <strong>{{ projectname }}</strong></span>
					</a>
					</li>
					{% for item in menu_project %}
					<li><a href="{{ item.url }}">{{ item.description }}</a></li>
					{% endfor %}
				
				<li>
					<a href="/main/" >
						<span class="hidden-xs" style="text-indent: 0.5em"><span class="glyphicon glyphicon-arrow-left"></span> <strong>Return</strong></span>
					</a>
				</ul>
			</div>
			<div id="content" class="col-xs-12 col-sm-10">

					{% include urlpage %}


			</div>
		</div>
	</div>

	{% include "includes/footer.html" %}
    {% include "includes/foot.html" %}
    
  </body>
</html>
