{% load staticfiles %}
<div class="container" style="padding-top: 15px">
<div class="col-xs-8"> 
	<div><strong>Descrição</strong></div>
	<div class="well" style="background-color:#FFFFFF; color: #000000">
		<p align="justify">
         Descrição do Go! Bus.
		</p>
	</div>
	
	

</div>
<div class="col-xs-4"> 

	<div><strong>Downloads</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000">

	</div>

	<div><strong>Membros</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000">
        {% for user in list_user_projects %}
    <p><a href="/profile/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a></p>
    {% endfor %}
	</div>
	
	<div><strong>Projetos que utilizam o Go! Track</strong></div>
	<div class="well" style="background-color: #FFFFFF; color: #000000"></div>
</div>
	</div>